@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

body {
    
    background: linear-gradient(270deg, #290044, #5400b4);
    background-size: 400% 400%;

    -webkit-animation: BackgrounGradient 25s ease infinite;
    -moz-animation: BackgrounGradient 25s ease infinite;
    animation: BackgrounGradient 25s ease infinite;
  }

  
html {
    height: 100%;
}

nav ul {
    overflow:hidden;
    overflow-y:scroll;
    height:200px;
    width:18%;
}


.wrapper{
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}

#contentHeader {
    padding: 20px 40px;

    border-radius: 5px;
}
#content {
    width: 100%;
}

#contentBody {
    
    color: #333;
}
#ifr {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    border: none;
    display: none;
}

h1 {
    font-size: 100%;
    color:#ac0081;
    font-family: 'Raleway', sans-serif; font-size: 50px;
    text-align: center;

}

h2 {
    font-size: 100%;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 0px;
    color: white;
    visibility: hidden;
    display: none;
}

h3 {
    font-size: 120%;
    margin-top: 2em;
    padding-left: 5px;
    border-left: 10px solid #9EC9E1;
    margin-bottom: 1em;
    border: 5px black;
}

h4 {
    font-size: 100%;
    margin-top: 2em;
    margin-left: 24px;
    padding-left: 5px;
    border-left: 5px solid #9EC9E1;
    margin-bottom: 1em;
}


.FE {
    font-size: large;
    color: #fff;
    text-decoration: none;
    position: absolute;
    left: 135px;
    top: 50px;
    visibility: hidden;
}



.btn {
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: table;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
    margin: 6px 6.5%;
    border: 5px solid rgba(16, 0, 61, 0.61);
    padding-top: 5px;
}
.btn-disabled {
    width: 20%;
    background-color: #777777;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

.btn-main {
    width: 20%;
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}
.btn-main:hover {
    width: 20%;
    background-position: right center;
    color: rgb(255, 255, 255);
    border-radius: 22px;
}

#Cache {
    width: 15%;
    background-color: transparent;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
    border: 1px solid black;
    padding-top: 5px;
    color: white;
    padding-bottom: 10px;
    border-radius: 10px;
    top: 2%;
    position: absolute;
    left: 1%;
}

#Cache:hover {
    width: 20%;
    background-color: indianred;
    font-size: 15px;
    border: 3px solid black;
}

.linear-wipe {
    text-align: center;
    
    background: linear-gradient(to right, #FFF 20%, rgb(183, 0, 255) 40%, rgb(153, 0, 94) 60%, #FFF 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 5s linear infinite;

}

#NazkyPP{
    position:absolute;
    top: 2%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 91%;
}

#Background {
    border-radius: 10px;
    z-index: -1;
    position: absolute;
    opacity: 50%;
    width: 99%;
    height: 98%;
    top: 1%;
}

@-webkit-keyframes BackgrounGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgrounGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgrounGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
  
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }