/*------------------------------------------------------------------------------
  Table of content - Portability

  1.0 Modal
------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
  1.0 - Modal
------------------------------------------------------------------------------*/

.et-core-version-rollback-modal .et-core-modal-temp-content {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
